.ui.header .icon {
  margin-bottom: 0.5rem;
}

.ui.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ui.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1) !important;
}

.ui.card .content .header {
  margin-bottom: 0.5em;
}

.ui.card .content .meta {
  margin-bottom: 0.8em;
}

.ui.card .extra.content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #21ba45;
}

.ui.card .extra.content .icon {
  margin-right: 0.5em;
}
