.class_card {
  cursor: pointer;
  min-width: 10rem;
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.class_card:hover {
  transform: scale(1.03);
}
